<tbody>
  {{#each data}}
    <tr>
      <td>{{name}}</td>
      <td></td>
      <td>{{type}}</td>
      <td>{{formatDate createdAt}}</td>
      <td>{{formatDate lastSession}}</td>
    </tr>
  {{/each}}
</tbody>